body {
    background-color: gray;
    position: relative;
}

#welcome {
    font-size: 36px;
    color: blue;
}


#space-fill-test-result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

#fill-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#space-fix-conduct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
}

/* .space-get-information,
.space-add-information,
.space-fix-information {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 50px;
}

.space-function {
    display: flex;
    flex-direction: column;
    height: 500px;
}

button {
    background-color: aqua;
    border-radius: 10px;
    cursor: pointer;
}


#space-fill-information,
#space-fill-test-result {
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 300px;
    background-color: plum;
    position: absolute;
    top: 100px;
    left: 450px;
}

#btn-submit-student-information,
#btn-submit-teacher-information {} */